[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ageg"]
	path = ageg
	url = https://github.com/cran/ageg
	shallow = true
	registered = true
